# gradle
.gradle/
build/
out/

# Minecraft run directory
run/

# Client logs written by local runs
logs/

# eclipse
bin/
*.launch
.settings/
.metadata/
.classpath
.project

# idea
.idea/
*.ipr
*.iws
*.iml

# vscode
.vscode/
